<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
        <meta name="author" content="Spare Cycles" />
        <title>Spare Cycles - What We're Made Of</title>
        <link rel="stylesheet" href="stylesheets/blueprint/screen.css" type="text/css" media="screen, projection"/>
        <link rel="stylesheet" href="stylesheets/blueprint/print.css" type="text/css" media="print"/>
        <!--[if IE]><link rel="stylesheet" href="stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"/><![endif]-->
        <link rel="stylesheet" href="stylesheets/base.css" type="text/css" media="screen, projection"/>
    </head>
	<body>
        <div id="header">
            <div class="container">
                <div id="logo">
                    <h1>Spare Cycles - Building Great Things One Cycle At A Time</h1>
                </div>
            </div>
        </div>
        <div id="blurb">
            <div class="container">
                <div class="prepend-4 span-16 last">
                    <p>Spare Cycles is a small web development company driven by a simple mission: <strong>to help people explore, create, share, and collaborate</strong>. Simply enough. And yet, building software that quietly facilitates this as opposed to barging in with its own requirements is anything but simple. We care deeply about our products and those we serve. Quality, clarity, attention to detail, and usefulness are at the core of what we do.</p>
                </div>
            </div>
        </div>
        <div id="content">
            <div class="container">
                <div id="beliefs" class="prepend-4 span-16 last">
                    <h2>Our Beliefs.</h2>
                    <h3>Our users and customers are our investors.</h3>
                    <p>Our users and clients come first; we answer to them. The relationship we forge from day one is the most important success factor in the work we do. Transparency, feedback, collaboration, none of that matters if we stop treating our clients as an extension of our team.</p>
                    <h3>Service matters.</h3>
                    <p>Companies who stand behind their products and offerings succeed. This means making ourselves available to our clients: responding to emails and issues with a sense of urgency; working collaboratively; soliciting feedback throughout the development process.</p>
                    <h3>Transparency ensures success.</h3>
                    <p>The best way to ensure we remain on target and deliver a product that fully meets your expectations is to be transparent throughout the entire process. We're honest about the work we do and take ownership in what we deliver. We expect the same from our clients. It's what gets things done.</p>
                    <h3>If a deliverable is not something we'd use, it's not done.</h3>
                    <p>We are our harshest critics (we think that's a good thing). If an end product is not something we're completely proud of or behind, it's not done. It's as simple as that.</p>
                    <h3>Content is the main character. Clean interfaces are the stage.</h3>
                    <p>Even the prettiest, most pixel-perfect interface falls apart when the caliber of the content is sub par. Good design drives your message home. Both are key ingredients to successful sites and applications.</p>
                </div>
                <div id="approach" class="prepend-4 span-16 last">
                    <h2>Our Approach.</h2>
                    <p>Our approach follows the same principles we strive for in our designs. It's intentionally simple, flexible, and open. Feedback can be solicited for a given project at nearly any point in the process. This pragmatic approach ensures we remain nimble and agile to best suit your needs.</p>
                    <img src="images/approach.png">
                    <h3>Discovery.</h3>
                    <p>During the discovery phase (if there is one), we work closely with clients to identify and refine project requirements, critical success factors, and priorities. This is our chance to get to know you (and for you to get to know us) and what you're trying to accomplish.</p>
                    <h3>Design. Develop. Feedback.</h3>
                    <p>While we make every effort to understand the requirements upfront, needs and priorities change. Embracing those changes, we take an iterative approach seeking feedback at any point in the process. When possible, we'll show you works in progress.  Unlike other firms who are afraid to show unfinished products, we welcome it.</p>
                    <h3>Deploy To Staging.</h3>
                    <p>Once a project is deemed ready for production, we release a private beta version accessible to a select group of users you specify. This gives you (and us) a last chance to kick the tires and make sure everything is exactly as you expected. Throughout this phase, our focus will be on resolving bugs and further stabilizing the application.</p>
                    <h3>Deploy To Production.</h3>
                    <p>Once all issues are resolved and we're ready to proceed with the release candidate currently in test, we'll move that exact version of the project to a more robust production environment (one that we or you manage) where it will be available to your users.</p>
                </div>
                <div id="team" class="prepend-4 span-16 last">
                    <h2>Who We Are.</h2>
                    <p>We're a small web development company. However, our size is definitely not a reflection of our capabilities; we've been developing on the web for over a decade. Spare Cycles has access to a wide range of specialists if your requirements are something beyond the current scope of what we can handle; we'll be very upfront with you if that is the case. If you will be working with our extended family, you'll know exactly who that person is and have access to them in the same way you have access to our team. They are held to our standards.</p>
                    <h3>Chris Baglieri, Founder &amp; CEO</h3>
                    <p>Chris Baglieri is the Founder, CEO, and CHO (chief hacking officer) of Spare Cycles. He has been writing software for over a decade, with experiences spanning small startups to large corporations in roles ranging from architect, designer, developer, and project manager. His philosophy on application design and development is simple: think pragmatically, keep it (the process and the product) simple, be honest, set expectations, and constantly strive for transparency and unobtrusiveness. Chris graduated from Northeastern University and Villanova University with an MS and BS respectively, both focusing on computer science and software engineering.</p>
                </div>
                <div id="contact" class="prepend-8 span-10 last">
                    Spare Cycles, LLC &middot; 27 North Street, Robbinsville, NJ 08691
                </div>
            </div>
        </div>
    </body>
</html>