<div id="headbox">
	<h2>Send an email or pick up the phone.</h2>
</div>
<div class="span-9 append-1 subsection">
	<img src="images/card.png" />
	<h3>Chris Baglieri, Founder &amp; CEO</h3>
	<p>I'm the founder, CEO, and CHO (chief hacking officer) of Spare Cycles. I've been cranking out software for more than 15 years, with experiences spanning small startups to large corporations in roles ranging from architect, designer, developer, and project manager.</p>
</div>
<div class="span-10 last subsection">
   <img src="images/phone.png" />
	<h3>We'd Love To Hear From You</h3>
	<p>If you've got an interesting project you need a hand with, would like to learn more about what makes us tick, or just want to say hi (we're chatty, we don't mind), we'd love to hear from you. Email or call anytime.</p>
	<p id="contact-information"><a href="mailto:hi@findsparecycles.com">hi@findsparecycles.com</a> | 215.645.2247</p>
</div>