<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
        <meta name="author" content="Spare Cycles" />
        <title>Spare Cycles - Building Great Things One Cycle At A Time</title>
        <link rel="stylesheet" href="stylesheets/blueprint/screen.css" type="text/css" media="screen, projection"/>
        <link rel="stylesheet" href="stylesheets/blueprint/print.css" type="text/css" media="print"/>
        <!--[if IE]><link rel="stylesheet" href="stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"/><![endif]-->
        <link rel="stylesheet" href="stylesheets/base.css" type="text/css" media="screen, projection"/>
    </head>
	<body>
        <div id="header">
            <div class="container">
                <div id="logo">
                    <h1>Spare Cycles - Building Great Things One Cycle At A Time</h1>
                </div>
            </div>
        </div>
        <div id="blurb">
            <div class="container">
                <div class="prepend-4 span-16 last">
                    <p>We are a small web development company driven by a simple mission: <strong>to help people explore, create, share, and collaborate</strong> (all right, so it's a tad lofty, but stretch goals build character). At the moment we're putting spare cycles to good use, working feverishly with our clients and hacking on a few products of our own. Email us at <span class="email">hi@findsparecycles.com</span>. Great things are coming!</p>
                </div>
            </div>
        </div>
        <div id="content">
            <div class="container">
                <div id="clients" class="prepend-4 span-16 last">
                    <h2>A message to potential <strong>clients</strong>.</h2>
                    <p>We love solving problems with simple, usable, meaningful software. It's what gets us out of bed in the morning and keeps us up at night - it's our passion. We embrace minimalism, value simplicity, and think pragmatically. These beliefs permeate our style, our process, our company, and most importantly, our deliverables. We treat our clients as an extension of our team and truly value those relationships. If you like what you hear, <a href="about">learn a bit more</a> about what makes us tick and send us an email (we'd love to chat).</p>
                </div>
                <div id="users" class="prepend-4 span-16 last">
                    <h2>A message to potential <strong>users</strong>.</h2>
                    <p>If you've landed here and have decided to take the time to read these few sentences, you likely share our belief that most software is too complex. In our eyes, an ideal product is one that addresses a need and quickly gets out of your way. Beyond our client work, we have lots of interests and are always hacking on ideas that help make us more productive in our own lives. Some of those hacks are the seeds of great products that we hope to launch one day. If you'd like to hear about it when they do, drop us an email.</p>
                </div>
                <div id="contact" class="prepend-8 span-10 last">
                    Spare Cycles, LLC &middot; 27 North Street, Robbinsville, NJ 08691
                </div>
            </div>
        </div>
    </body>
</html>