<div id="headbox">
	<h2>Building great things, a cycle at a time.</h2>
</div>
<div class="span-20">
	<h2 class="section">About Spare Cycles</h2>
	<div class="span-6 append-1 subsection">
		<img src="images/card.png" />
		<h3>Who We Are</h3>
		<p>We are a small web development company driven by a simple yet powerful mission: to help people explore, create, share, and collaborate.</p>
	</div>
	<div class="span-6 append-1 subsection">
		<img src="images/laptop.png" />
		<h3>What We Do</h3>
		<p>We solve problems with simple, usable, meaningful software. It's what gets us out of bed in the morning and keeps us up at night - it's our passion.</p>
	</div>
	<div class="span-6 last subsection">
		<img src="images/lightbulb.png" />
		<h3>How We Do It</h3>
		<p>We design. We collaborate. We use the right tool for the job. We iterate. We test. We use open source software which makes us lean and efficient.</p>
	</div>
</div>
<div class="span-20">
	<h2 class="section">A Few More Words</h2>
	<div class="span-9 append-1 subsection">
		<h3>To potential clients</h3>
		<div class="subsection">
			<p>We embrace minimalism, think pragmatically, and value simplicity. These beliefs permeate our style, our process, our company, and most importantly, our deliverables. We treat our clients as an extension of our team and truly value those relationships. If you like what you hear, learn a bit more about what makes us tick and send us an email (we'd love to chat).</p>
		</div>
	</div>
	<div class="prepend-1 span-9 last subsection">
		<h3>To potential users</h3>
		<div class="subsection">
			<p>If you've taken the time to read this far, you likely share our belief that most software is too complex. Beyond our client work, we have lots of interests and are always hacking on ideas that help make us more productive in our own lives. Some of those hacks are the seeds of great products that we hope to launch one day. If you'd like to hear about it when they do, drop us an email.</p>
		</div>
	</div>
</div>