<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
		<meta name="author" content="Spare Cycles" />
		<title>Spare Cycles :: Building Great Things One Cycle At A Time</title>
		<link rel="stylesheet" href="stylesheets/blueprint/screen.css" type="text/css" media="screen, projection"/>
		<link rel="stylesheet" href="stylesheets/blueprint/print.css" type="text/css" media="print"/>
		<!--[if IE]><link rel="stylesheet" href="stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"/><![endif]-->
		<link rel="stylesheet" href="stylesheets/base.css" type="text/css" media="screen, projection"/>
		<script type="text/javascript" src="http://use.typekit.com/nej5vuh.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	<body>
		<div id="header">
			<div class="container">
				<div class="prepend-2 span-20 append-2">
					<div id="logo" class="span-4">
						<h1>sparecycles</h1>
					</div>
					<div id="primary-navigation" class="span-16 last">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="services">Services</a></li>
							<li><a href="portfolio">Recent Work</a></li>
							<li><a href="contact">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="content">
			<div class="container">
				<div class="prepend-2 span-20 append-2">
					<%= yield %>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="container"></div>
		</div>
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			try {
				var pageTracker = _gat._getTracker("UA-3481268-3");
				pageTracker._trackPageview();
			} catch(err) {}
		</script>
	</body>
</html>