<div id="headbox">
	<h2>What's keeping us busy these days.</h2>
</div>
<div class="span-20 casestudy">
	<h2 class="section client">Get Hacking</h2>
	<div class="span-9 append-1 subsection">
		<h3>Details</h3>
		<p>Get Hacking is a social gaming network for hackers and engineers and a recruitment platform for the startups that want 'em. We're heads down hammering on our keyboards at the moment but definitely check back soon, it's going to be fun!</p>
	</div>
	<div class="span-10 last subsection">
		<h3>Colophon</h3>
		<ul>
			<li>A pinch of this</li>
			<li>A dash of that</li>
			<li>A few cups of this stuff</li>
			<li>Might as well throw this in there too</li>
			<li>Can't forget this</li>
		</ul>
	</div>
</div>
<div class="span-20 casestudy">
	<h2 class="section client">Philadelphia Area Chapter of Meeting Professionals International</h2>
	<div class="span-9 append-1 subsection">
		<h3>Details</h3>
		<p>The <a href="">Philadelphia Area Chapter of Meeting Professionals International</a> is an active association of meeting planners. Their site is the primary source of information for members and the application administrators use to run the association. Spare Cycles was contracted to migrate, redesign, and rebuild the entire application.</p>
	</div>
	<div class="span-10 last subsection">
		<h3>Colophon</h3>
		<ul>
			<li>Front-End: HTML, CSS (Sass), jQuery</li>
			<li>Back-End: Rails 2.3</li>
			<li>Database: PostgreSQL</li>
			<li>Hosting: Heroku</li>
			<li>Asset Storage: AWS S3</li>
			<li>External Services: Sendgrid, Exceptional, New Relic</li>
		</ul>
	</div>
</div>
<div class="span-20 casestudy">
	<h2 class="section client">Partnership for Philanthropic Planning of Greater Philadelphia</h2>
	<div class="span-9 append-1 subsection">
		<h3>Details</h3>
		<p>The <a href="">Partnership for Philanthropic Planning of Greater Philadelphia</a> is an association of passionate philanthropists. Their site is the primary source of information for members and the application administrators use to run the association. Spare Cycles was contracted to migrate, redesign, rebuild, and enhance the entire application.</p>
	</div>
	<div class="span-10 last subsection">
		<h3>Colophon</h3>
		<ul>
			<li>Front-End: HTML, CSS (Sass), jQuery</li>
			<li>Back-End: Rails 2.3</li>
			<li>Database: PostgreSQL</li>
			<li>Hosting: Heroku</li>
			<li>Asset Storage: AWS S3</li>
			<li>External Services: Sendgrid, Exceptional, New Relic</li>
		</ul>
	</div>
</div>