<div id="headbox">
	<h2>What's keeping us busy these days.</h2>
</div>
<div class="span-20 casestudy">
	<h2 class="section client">Githacking (open sourced)</h2>
	<div class="span-9 append-1 subsection">
		<h3>Details</h3>
		<p>Githacking is a layer on top of Github aiding contributors and maintainers in the open source community find and manage projects. Spare Cycles pitched the idea at Philadelphia Startup Weekend January 2011; we went on to win that event.</p>
	</div>
	<div class="span-10 last subsection">
		<h3>Colophon</h3>
		<ul>
			<li>Front-End: HTML, CSS (Sass)</li>
			<li>Back-End: Rails 2.3</li>
			<li>Database: PostgreSQL</li>
			<li>Source: <a href="https://github.com/chrisbaglieri/githacking">Github</a></li>
		</ul>
	</div>
</div>
<div class="span-20 casestudy">
	<h2 class="section client">Philadelphia Area Chapter of Meeting Professionals International</h2>
	<div class="span-9 append-1 subsection">
		<h3>Details</h3>
		<p>The <a href="http://www.pampi.org">Philadelphia Area Chapter of Meeting Professionals International</a> is an active association of meeting planners. Their site is the primary source of information for members and the application administrators use to run the association. Spare Cycles was contracted to migrate, redesign, and rebuild the entire application.</p>
	</div>
	<div class="span-10 last subsection">
		<h3>Colophon</h3>
		<ul>
			<li>Front-End: HTML, CSS (Sass), jQuery</li>
			<li>Back-End: Rails 2.3</li>
			<li>Database: PostgreSQL</li>
			<li>Hosting: Heroku</li>
			<li>Asset Storage: AWS S3</li>
			<li>External Services: Sendgrid, Exceptional, New Relic</li>
		</ul>
	</div>
</div>
<div class="span-20 casestudy">
	<h2 class="section client">Partnership for Philanthropic Planning of Greater Philadelphia</h2>
	<div class="span-9 append-1 subsection">
		<h3>Details</h3>
		<p>The <a href="http://www.pppgp.org">Partnership for Philanthropic Planning of Greater Philadelphia</a> is an association of passionate philanthropists. Their site is the primary source of information for members and the application administrators use to run the association. Spare Cycles was contracted to migrate, redesign, rebuild, and enhance the entire application.</p>
	</div>
	<div class="span-10 last subsection">
		<h3>Colophon</h3>
		<ul>
			<li>Front-End: HTML, CSS (Sass), jQuery</li>
			<li>Back-End: Rails 2.3</li>
			<li>Database: PostgreSQL</li>
			<li>Hosting: Heroku</li>
			<li>Asset Storage: AWS S3</li>
			<li>External Services: Sendgrid, Exceptional, New Relic</li>
		</ul>
	</div>
</div>