<div id="headbox">
	<h2>We make pretty websites and apps.</h2>
</div>
<div class="span-20">
	<h2 class="section">our services</h2>
	<div class="span-6 append-1 subsection">
		<img src="images/pen.png" />
		<h3>User Interface &amp; Design</h3>
		<p>The user interface is the most important part of your project. Your code must scale and be reliable but unless the experience is easy, it's pointless. We make accessbile web sites that look good, clearly present information, and are a joy to use.</p>
	</div>
	<div class="span-6 append-1 subsection">
		<img src="images/laptop.png" />
		<h3>Development</h3>
		<p>We've been writing code for more than fifteen years. We're advocates of polyglot programming and seek out the right tool for a job. We have experience and are passionate in a variety of programming languages.</p>
	</div>
	<div class="span-6 last subsection">
		<img src="images/organizers.png" />
		<h3>Information Architecture</h3>
		<p>Even the prettiest, most pixel-perfect site falls short when the caliber of the content is sub-par and poorly organized. A solid information architecture is the foundation, your vehicle to deliver a clear, succinct message.</p>
	</div>
</div>
<div class="span-20">
	<h2 class="section">and how we deliver them</h2>
	<div class="span-6 append-1 subsection">
		<h3>As A Team</h3>
		<p>Our users and clients are our investors, we answer to you. The relationship we forge from day one is the most important success factor in the work we do. Transparency, feedback, collaboration, none of that matters if we stop treating our clients as an extension of our team.</p>
	</div>
	<div class="span-6 append-1 subsection">
		<h3>In The Open</h3>
		<p>We deliver a product that fully meets your expectations by being transparent throughout the entire process. We do not hide behind documentation or screen shots. We're honest about the work we do and take ownership in what we deliver. We expect the same from our clients.</p>
	</div>
	<div class="span-6 last subsection">
		<h3>As A Responsible Company</h3>
		<p>We stand behind our services 100%. We commit to our clients. We make ourselves available. We respond to emails and calls with a sense of urgency. We're honest and up front. We're interested in building relationships and care deeply about the deliverables we set out to complete.</p>
	</div>
</div>